@model Department;
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Department</h1>
<br/>
<div asp-asp-validation-summary="All">

</div>
<form asp-action="Edit">
    <div class="form-group">
        <label class="col-form-label" asp-for="Code">

        </label>
        <input class="form-control" asp-for="Code" />
    <span asp-validation-for="Code" class="text-danget"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Name">

        </label>
        <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danget"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="DateOfCreation">

        </label>
        <input class="form-control" asp-for="DateOfCreation" />
        <span asp-validation-for="DateOfCreation" class="text-danget"></span>
    </div>

   <input type="submit" value="Save" class="btn btn-primary"/>
   <a asp-action="Index" class="btn btn-light"> Back to list </a>
</form>

@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}