@model UserViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Edit">
    <div class="form-group">
        <label class="col-form-label" asp-for="Fname">

        </label>
        <input readonly class="form-control" asp-for="Fname" />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Lname">

        </label>
        <input readonly class="form-control" asp-for="Lname" />
    </div><div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber">

        </label>
        <input readonly class="form-control" asp-for="PhoneNumber" />
    </div>
    <input type="submit" value="Save" class="btn btn-warning"/>
    <a asp-action="Index" class="btn btn-light">Back to list</a>
</form>

