@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendEmail">

			<input asp-for="Email" placeholder="Your First Email">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
<!-- copyright -->
<div class="colorlibcopy-agile">
	<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
</div>

@section ValidationScriptSection {
			<partial name="_ValidationScriptsPartial"/>
}


